* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*----------------------------------------------
1. Universal Styles
----------------------------------------------*/

#header {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.4)),
      to(rgba(0, 0, 0, 0.4))
    ),
    url("images/automation2.jpg");
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/automation2.jpeg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/automation2.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

/*----------------------------------------------
2. Header & Nav Styles
----------------------------------------------*/
a:link,
a:visited {
  text-decoration: none;
  color: whitesmoke;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 85px;
  width: 100%;
}

h2 {
  color: whitesmoke;
  margin-left: 35px;
  margin-top: 35px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  font-size: 1.6em;
  color: whitesmoke;
  list-style-type: none;
  margin-top: 35px;
  cursor: pointer;
}

.nav-bar li {
  margin-right: 35px;
  display: inline-block;
}

#services {
  cursor: pointer;
  margin-right: 65px;
}

.mobile-nav {
  margin-right: 35px;
  margin-top: 30px;
  height: 50px;
  width: 25px;
  cursor: pointer;
  padding: 6px 7px;
  display: none;
  font-size: 2.6em;
  color: whitesmoke;
}

.training-classes {
  position: absolute;
  list-style-type: none;
  height: 150px;
  width: 190px;
  background-color: #005786;
  color: whitesmoke;
  font-size: 0.8em;
  text-align: center;
  line-height: 35px;
  border-radius: 20px;
  float: none;
  display: none;
  animation: fadeInAnimation ease 0.5s;
}

.training-classes li {
  display: block;
  margin: auto;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown-arrow {
  display: inline-block;
  transform: rotate(-90deg);
  margin-left: 5px;
  transition: all ease 0.5s;
}

.rotate-arrow {
  transform: rotate(90deg);
  transition: all ease 0.5s;
}

/*----------------------------------------------
2. Hero Section
----------------------------------------------*/

.call-to-action {
  position: absolute;
  width: 100%;
  top: 40%;
  animation: fadeUpAnimation 1.5s;
}

.action-container {
  color: whitesmoke;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 50px;
}

@keyframes fadeUpAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.call-to-action h1 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.8em;
}

.get-started {
  width: 150px;
  height: 45px;
  border-radius: 20px;
  background-color: #0077b6;
  color: whitesmoke;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.get-started:hover {
  background-color: #005786;
}

.get-started:active {
  transform: translateY(4px);
}

.info-form {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

.form-container {
  position: relative;
  color: whitesmoke;
  font-size: 1.1em;
  background-color: #005786;
  width: 280px;
  height: 450px;
  border-radius: 20px;
  line-height: 30px;
  margin: auto;
  padding: 20px 42px;
  animation: fadeInAnimation ease 0.5s;
  display: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.child {
  width: 200px;
  height: 410px;
}

.child input[type="text"],
input[type="email"] {
  height: 25px;
  width: 190px;
  border-radius: 5px;
  border: none;
  padding: 0 4px;
}

.submit {
  width: 150px;
  height: 45px;
  border-radius: 20px;
  background-color: #0077b6;
  color: whitesmoke;
  font-size: 1em;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.submit:hover {
  background-color: #0094e4;
}

.submit:active {
  transform: translateY(4px);
}

.fadeout {
  animation: fadeOutAnimation ease 0.5s;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.confirmation {
  position: absolute;
  width: 100%;
  top: 40%;
}

.confirmation-message {
  color: whitesmoke;
  display: block;
  margin: auto;
  height: 200px;
  text-align: center;
  line-height: 50px;
  animation: fadeInAnimation ease 0.8s;
  display: none;
}

.confirmation-message h3 {
  font-size: 1.8em;
}

.close {
  width: 150px;
  height: 45px;
  border-radius: 20px;
  background-color: #0077b6;
  color: whitesmoke;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

/*----------------------------------------------
2. Media Queries
----------------------------------------------*/

@media only screen and (min-width: 1655px) {
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 992px) {
  h2 {
    margin-top: 20px;
  }

  .call-to-action h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }

  .nav-bar {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 0px;
  }

  .nav-bar.show {
    display: flex;
    animation: fadeInAnimation ease 0.5s;
  }

  .nav-bar li,
  #services {
    margin-right: 0px;
    display: block;
  }

  .training-classes {
    width: 180px;
    display: none;
    font-size: 0.7em;
  }

  .mobile-nav {
    font-size: 2.6em;
    display: block;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .call-to-action h1 {
    font-size: 1.6em;
  }
  .action-container {
    line-height: 30px;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.4em;
  }

  .mobile-nav {
    font-size: 2.2em;
    margin-top: 34px;
  }
}

@media only screen and (max-width: 480px) {
  .call-to-action h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.2em;
  }
}
